/* General styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(Desserts/bg6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.6);
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.textbox input:focus {
    outline: none;
    border-color: #5c8df2;
}

input[type="submit"] {
    background-color: #626CD6;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #4954d0;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
